    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">&copy;&nbsp;Copyright Julio Vinicius A. de Carvalho - COMP229 Web Application Development</p>
        </div>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/appclient.js"></script>    
</body>
</html>