<%- include ('partials/header') %>
<div class="container pt-5">
  <h1><%= title %></h1>
</div>
<div class="container pt-5">
  <p>Welcome to <img src="/images/CBSC.png" width="600px"></p>
</div>
  
<%- include ('partials/footer') %>
