/* Student ID: 1234568796
Name: Julio Vinicius
Data: Oct 01, 2022 */
/* Student ID: 1234568796
Name: Julio Vinicius
Data: Oct 01, 2022 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Times New Roman', Times, serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  font-size: small;
}
.container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 800px;
}
#mynavbar{
  float: left;
}
.img{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.flash{
  color: red;
}